<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <div style="margin-top: 165px;position:fixed;">
        <h1>Hello from {{name}}. He is computer science student</h1>
        <img style="margin-left: 4rem;" height="250" width="250" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>