<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <div style="margin-top: 165px">
        <h1>Want help from {{name}}</h1>
        </div>
        {{>footer}}
    </body>
</html>