<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <h1 style="text-align: relative;">{{address}}</h1>
        <h2 style="margin-left: 4rem;"> It is {{temprature}}<span>&#8451;</span> and weather is {{forecast}}</h2>
        {{>footer}}
    </body>
</html>