<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <footer>
        <div class="footer">
        <p>developed with love by<a href="https://github.com/Hardik501" target="popup">{{creator}}</a></p>
        </div>
        </footer>
    </body>
</html>